@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
}
.container-switch {
  display: flex;
  align-items: center;
}

.switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8f88ff;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before,
.slider:after {
  position: absolute;
  content: "";
  transition: 0.4s;
  border-radius: 50%;
}

.slider:before {
  height: 16px;
  width: 15px;
  left: 5px;
  bottom: 4px;
  background-color: #ffe86e;
}

.slider:after {
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 4px;
  background-color: #8f88ff;
  clip-path: circle(55% at 100% 45%);
  opacity: 0; /* Set opacity to 1 to make it visible */
}

input:checked + .slider {
  background-color: #3a3a3a;
}

input:checked + .slider:before {
  transform: translateX(30px);
  background-color: #ffe86e;
}

input:checked + .slider:after {
  transform: translateX(30px);
  opacity: 1;
  background-color: #3a3a3a;
}

/*              <span className="slider absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-[#8f88ff] rounded-[34px] transition-all duration-400 before:absolute before:content-[''] before:w-[15px] before:h-[16px] before:left-[5px] before:bottom-[4px] before:bg-[#ffe86e] before:rounded-[50%] before:transition-transform before:duration-400 dark:before:translate-x-[30px] dark:before:bg-[#ffe86e] dark:bg-[#252128]"></span>
*/
.img-hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.summary-button {
  @apply flex items-center gap-3 w-full md:w-[150px] h-[52px] border border-[#BDC3C7] rounded-md px-4 py-2 bg-[#F8F9FA] text-[#2C3E50] dark:bg-[#2C3E50] dark:text-[#BDC3C7] hover:bg-[#BDC3C7] hover:text-[#2C3E50] transition-all;
}
